@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        
    }
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Paramètres", "Edit", "DisplayConfiguration", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li>@Html.ActionLink(User.Identity.GetUserName().Split('@').First(), "Edit", "Person", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Se déconnecter</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
    </ul>
}
