@model IEnumerable<ENI_Projet_Sport.ViewModels.CategoryPOIViewModel>

@{
    ViewBag.Title = "Liste des catégories de POI";
}

<h2>Liste des catégories de POI</h2>

<p>
    @Html.ActionLink("Ajouter une catégorie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
