@model IEnumerable<ENI_Projet_Sport.ViewModels.RaceViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateRace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlacesNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RaceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>
        <th></th>

        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateRace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td id="place_@item.Id" data-places="@item.PlacesNumber">
            @Html.DisplayFor(modelItem => item.PlacesNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RaceType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Distance)
        </td>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                <td>
                    @if (item.PlacesNumber > 0)
                    {
                        if (item.isSubscribe)
                        {
                            <a data-id="@item.Id" class="unsubscribe_link">Unsubscribe</a>
                        }
                        else
                        {
                            <a data-id="@item.Id" class="register_link">Register</a>
                        }
                    }
                    else
                    {
                        if (item.isSubscribe)
                        {
                            <a data-id="@item.Id" class="unsubscribe_link">Unsubscribe</a>
                        }
                        else
                        {
                            <p style="margin: 0;">Complet</p>
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Détail", "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
    </tr>
}

</table>
<script>
    $('.register_link').unbind('click').on('click', register);

    $('.unsubscribe_link').unbind('click').on('click', unsubscribe);

    function register(evt) {
        var $that = $(evt.currentTarget);
        var id = $($that).data('id');
        var td = $('#place_' + id);
        var places = $(td).data('places');
        $.ajax({
            type: "POST",
            url: "/Inscription/Create/" + id,
            data: id,
            dataType: "application/json",
            complete: function (data) {
                var obj = JSON.parse(data.responseText);
                if (data.status == 200 && obj == 200) {
                    var html = '<a data-id="'+id+'" class="unsubscribe_link">Unsubscribe</a>';
                    var parent = $($that).parent()[0];
                    $(parent).html(html);
                    $(parent).find('.unsubscribe_link').unbind('click').on('click', unsubscribe);
                    $(td).html(places - 1);
                    $(td).data('places', places - 1);
                    $.alert({
                        title: 'Inscription effectuée!',
                        content: 'Vous êtes inscrit à cette course!',
                    });
                }
                else {
                    $.alert({
                        title: 'Erreur!',
                        content: 'Une erreur est survenue, le nombre de participant à sûrement été atteint!',
                    });
                }
            }
        });
    }
    function unsubscribe(evt) {
        $.confirm({
            title: 'Attention!',
            content: 'Souhaitez-vous vraiment vous désinscrire de cette course ?',
            buttons: {
                Oui: function () {
                    var $that = $(evt.currentTarget);
                    var id = $($that).data('id');
                    var td = $('#place_' + id);
                    var places = $(td).data('places');
                    $.ajax({
                        type: "POST",
                        url: "/Inscription/Delete/" + id,
                        data: id,
                        dataType: "application/json",
                        complete: function (data) {
                            var obj = JSON.parse(data.responseText);
                            if (data.status == 200 && obj == 200) {
                                var html = '<a data-id="' + id + '" class="register_link">Register</a>';
                                var parent = $($that).parent()[0];
                                $(parent).html(html);
                                $(parent).find('.register_link').unbind('click').on('click', register);
                                $(td).html(places + 1);
                                $(td).data('places', places + 1);
                            }
                            else {
                                $.alert({
                                    title: 'Erreur!',
                                    content: 'Une erreur est survenue!',
                                });
                            }
                        }
                    });
                },
                Non: function () {

                }
            }
        });
    }
</script>